.content-body
  / edit section starts
  %section.row.flexbox-container
    .col-xl-8.col-10
      .card.bg-authentication.mb-0
        .row.m-0
          / edit section left
          .col-md-6.col-12.px-0
            .card.disable-rounded-right.mb-0.p-2.h-100.d-flex.justify-content-center
              .card-header.pb-1
                .card-title
                  %h4.text-center.mb-2 Update account
              .card-content
                .card-body
                  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                    = render "devise/shared/error_messages", resource: resource
                    .field.form-group.mb-50
                      = f.label 'Email address', class: "text-bold-600"
                      %br/
                      = f.email_field :email, autofocus: true, autocomplete: "email",                 |
                        class: "form-control", id: "exampleInputEmail1", placeholder: "Email address" |
                    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                      %div
                        Currently waiting confirmation for: #{resource.unconfirmed_email}
                    .form-row
                      .form-group.col-md-6.mb-50
                        = f.label :first_name, class: "text-bold-600"
                        = f.text_field :first_name, class: "form-control", placeholder: "First name"
                      .form-group.col-md-6.mb-50
                        = f.label :last_name, class: "text-bold-600"
                        = f.text_field :last_name, class: "form-control", placeholder: "Last name"
                    .field.form-group.mb-50
                      = f.label :password, class: "text-bold-600"
                      %br/
                      %em.small (enter to change password, min #{@minimum_password_length} characters)
                      = f.password_field :password, autocomplete: "new-password",                   |
                        class: "form-control", id: "exampleInputPassword1", placeholder: "Password" |
                    .field.form-group.mb-50
                      = f.label :password_confirmation, class: "text-bold-600"
                      = f.password_field :password_confirmation, autocomplete: "new-password",                   |
                        class: "form-control", id: "exampleInputPassword1", placeholder: "Password confirmation" |
                    .field.form-group.mb-50
                      = f.label :current_password, class: "text-bold-600"
                      %br/
                      %em.small (enter to confirm changes)
                      = f.password_field :current_password, autocomplete: "current-password",                   |
                        class: "form-control", id: "exampleInputPassword1", placeholder: "Current password" |
                    .field.form-group.mb-50
                      .custom-file
                        = f.file_field :avatar, class: "custom-file-input", id: "inputAvatar"
                        %label.custom-file-label{:for => "inputAvatar"} Choose file
                    .actions.mt-1
                      = f.submit "Update", class: "btn btn-primary glow position-relative w-100"
                  %hr/
                  .btn-group.btn-block
                    = link_to "Back", :back, class: "btn"
                    = link_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger"

          / image section right
          .col-md-6.d-md-block.d-none.text-center.align-self-center.p-3
            %img.img-fluid{:alt => "branding logo", :src => "/images/update-page.png"}/
  / edit section ends
= javascript_pack_tag "input_fields.js"
