<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
    <!-- register section starts -->
      <section class="row flexbox-container">
          <div class="col-xl-8 col-10">
              <div class="card bg-authentication mb-0">
                  <div class="row m-0">
                      <!-- register section left -->
                      <div class="col-md-6 col-12 px-0">
                          <div class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center">
                              <div class="card-header pb-1">
                                  <div class="card-title">
                                      <h4 class="text-center mb-2">Sign Up</h4>
                                  </div>
                              </div>
                              <div class="card-content">
                                  <div class="card-body">

                                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                      <%= render "devise/shared/error_messages", resource: resource %>
       
                                      <div class="field form-group mb-50">
                                        <%= f.label 'Email address', class: "text-bold-600" %><br />
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                                            class: "form-control", id: "exampleInputEmail1", placeholder: "Email address" %>
                                      </div>

                                      <div class="field form-group">
                                        <%= f.label :password, class: "text-bold-600" %>
                                        <% if @minimum_password_length %>
                                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                                        <% end %>
                                        <%= f.password_field :password, autocomplete: "new-password", 
                                            class: "form-control", id: "exampleInputPassword1", placeholder: "Password"%>
                                      </div>

                                      <div class="field form-group">
                                        <%= f.label :password_confirmation, class: "text-bold-600" %>
                                        <%= f.password_field :password_confirmation, autocomplete: "new-password", 
                                            class: "form-control", id: "exampleInputPassword1", placeholder: "Password confirmation" %>
                                      </div>

                                      <div class="actions ">
                                        <%= f.submit "Sign up", class: "btn btn-primary glow position-relative w-100" %>
                                      </div>
                                    
                                          <%# <div class="form-row">
                                              <div class="form-group col-md-6 mb-50">
                                                  <label for="inputfirstname4">first name</label>
                                                  <input type="text" class="form-control" id="inputfirstname4" placeholder="First name">
                                              </div>
                                              <div class="form-group col-md-6 mb-50">
                                                  <label for="inputlastname4">last name</label>
                                                  <input type="text" class="form-control" id="inputlastname4" placeholder="Last name">
                                              </div>
                                          </div> %>

                                          <%# <div class="form-group mb-50">
                                              <label class="text-bold-600" for="exampleInputUsername1">username</label>
                                              <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username"></div>
                                           %>
                                      <% end %>

                                      <hr>
                                      <div class="text-center">
                                        <small class="mr-25">Already have an account?
                                          <%= link_to "Log in", new_session_path(resource_name) %>
                                        </small>
                                      </div>

                                      <div class="text-center">
                                        <small class="mr-25">
                                          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
                                        </small>
                                      </div>
                                  
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- image section right -->
                      <div class="col-md-6 d-md-block d-none text-center align-self-center p-3">
                          <img class="img-fluid" src="/images/register.png" alt="branding logo">
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- register section endss -->
    </div>
  </div>
</div>
