!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi,
      = succeed "." do
        %b
          = @user.full_name
    %b
      Today is #{Date.today}
    %p
      You need to complete the following task:
    %br/
    %hr/
    %b
      Card:
      = @card.title
    - unless @card.body.empty?
      %p
        Body: #{@card.body}
    - unless @card.duration == 0
      %p
        Duration:
        %b
          - @duration = @card.duration
          = "%2dd %2dh %2dm" % [ @duration/ (8 * 60), |
            ( @duration/ 60) % 8,                     |
            @duration % 60]                           |
    - unless @card.assignee.nil?
      %p
        Assignee:
        = @card.assignee.full_name
        = @card.assignee.email
    %br/
    %p To see detail go to the site, just follow this link: #{link_to @board.title, board_url( @board )}.
    %p Thanks for joining and have a great day!
    %br/
    %p Best regards,
    %p Kv065RubySSTeam
    %p
      Don't reply to this email directly, you can #{link_to "unsubscribe", edit_user_registration_url()}.
