.card.col-sm-10.mt-2.mx-auto
  .card-content
    .card-body
      .row
        .col-12
          .row
            .col-12.col-sm-3.text-center.mb-1.mb-sm-0
              -if current_user.avatar.attached?
                = image_tag current_user.avatar, class: "rounded",      |
                height: "120", width: "120" |
              -else
                = image_tag '/images/placeholder.jpg', class: "rounded",      |
                height: "120", width: "120" |
            .col-12.col-sm-9
              %h5.card-title
                = current_user.first_name
                = current_user.last_name
              %p
              %ul.list-unstyled
                %li
                  %i.bx.bx-envelope.mb-1.mr-50
                  = current_user.email
                %li
                  %i.bx.bx-time.mb-1.mr-50
                  = current_user.created_at.strftime("%B %d at %I:%M %P")
              .btn-group.float-right{:role => "group"}
                = link_to "Back", :back, class: "btn"
                = link_to "Edit", edit_user_registration_path, class:"btn"
                = link_to "Delete account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger"
