- unless @card.errors.any?
  cardClass = `.kanban-item[data-card-id=#{@card.id}]`;
  $(cardClass).parent().html("#{j render @card}");
  $(cardClass).parent().find('.members-request').on('click', assignClickHandler);
  $(cardClass).click(function() {
  $.ajax({
  url: `/boards/#{@card.column.board_id}/columns/#{@card.column_id}/cards/#{@card.id}/edit`,
  method: 'GET',
  headers: {
  'X-CSRF-Token': document.getElementsByName('csrf-token')[0].content
  },
  });
  });
  