<div class="kanban-board" data-id="<%= (column.id) %>" data-order="<%= (column.position) %>">
  <span class="badge badge-pill badge-danger badge-up"></span>
  <header class="kanban-board-header">
    <div class="kanban-title-board line-ellipsis" contenteditable="true">
      <%= column.name %>
    </div>
    <%= link_to "+ Add New Item", new_board_column_card_path(@board, column),
        remote: true,
        id: "add-card",
        class: "kanban-title-button btn btn-default btn-xs"%>
    <div class="dropdown">
      <div aria-expanded="false" aria-haspopup="true" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" id="dropdownMenuButton" role="button">
        <i class="bx bx-dots-vertical-rounded"></i>
      </div>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-right">
        <%= link_to board_column_path(@board, column.id),         
        remote: true, 
        method: :delete, 
        class: "kanban-delete dropdown-item kanban-delete" do  %>
        <i class="bx bx-trash mr-50"></i>
        Delete
        <% end %>
      </div>
    </div>
  </header>
  <main class="kanban-drag">
    <%= render column.cards %> 
  </main>
  <footer></footer>
</div>