.content-wrapper
  %section#auth-login.row.flexbox-container
    .col-xl-8.col-11
      .card.bg-authentication.mb-0
        .row.m-0
          / left section-login
          .col-md-6.col-12.px-0
            .card.disable-rounded-right.mb-0.p-2.h-100.d-flex.justify-content-center
              .card-header.pb-1
                .card-title
                  %h4.text-center.mb-2 Welcome Back!
              .card-content
                .card-body
                  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                    .form-group.mb-50
                      = f.label 'Email address', class: "text-bold-600"
                      %br/
                      = f.email_field :email, autofocus: true, autocomplete: "email",                 |
                        class: "form-control", id: "exampleInputEmail1", placeholder: "Email address" |
                    .form-group
                      = f.label :password, class: "text-bold-600"
                      %br/
                      = f.password_field :password, autocomplete: "current-password",               |
                        class: "form-control", id: "exampleInputPassword1", placeholder: "Password" |
                    .actions
                      = f.submit "Log in", class: "btn btn-primary glow w-100 position-relative"
                  .form-group.d-flex.flex-md-row.flex-column.justify-content-between.align-items-center
                    .text-right
                      %small
                        = link_to "Forgot password?", new_password_path(resource_name), class:"card-link"
                  %hr/
                  .text-center
                    %small.mr-25
                      Don't have an account?
                      \#{link_to "Sign up", new_registration_path(resource_name)}
          / right section image
          .col-md-6.d-md-block.d-none.text-center.align-self-center.p-3
            .card-content
              %img.img-fluid{:alt => "branding logo", :src => "/images/login.png"}/
