= form_with(model: board, local: true) do |f|

  %p
    = f.label :title
  %p
    = f.text_field :title, autofocus: true
  %p
    = f.label :description
  %p
    = f.text_area :description, rows: 5
    = f.label "Public board"
    = f.check_box :public
  %p
    = f.submit
