.col-md-12
  .card
    .col-md-10.mx-auto
      .card-header
        %h4.card-title Edit board
      .card-content
        .card-body
          .row
            .col
              = form_with(model: @board, class: "form-group  ", local: true) do |f|
                = render "shared/errors", object: @board
                = f.label :title
                = f.text_field :title, class: "form-control", placeholder: "Enter title"
                = f.label :description
                = f.text_area :description, class: "form-control", id: "basicTextarea", rows: "3", placeholder: "Enter description"
                %li.d-inline-block.mr-2.mb-1
                  .radio
                    = f.radio_button :public, false, checked: true
                    = f.label :public, 'Private', value: false
                %li.d-inline-block.mr-2.mb-1
                  .radio
                    = f.radio_button :public, true
                    = f.label :public, 'Public', value: true
                = f.submit "Edit board", class: "btn btn-primary glow position-relative w-100"
