%h1 Listing Boards

= link_to 'New board', new_board_path

= form_with(url: boards_path, method: "get", local: true) do
	= label_tag :search, "Search for"
	= text_field_tag :search
	= submit_tag "Search"

%ul
	= render @boards 