.col-md-12
  .card
    .content-area-wrapper
      .sidebar-left
        .sidebar
          .todo-sidebar.d-flex
            .todo-app-menu
              .form-group.text-center.add-task
                /new board button
                = link_to new_board_path,                             |
                  type: "button",                                     |
                  class: "btn btn-primary add-task-btn btn-block my-1" do |
                  %i.bx.bx-plus
                  Add New Board
              /sidebar list start
              .sidebar-menu-list
                .list-group
                  = link_to 'All boards', root_path, class: "fonticon-wrap mr-50"
                %label.filter-label.mt-2.mb-1.pt-25 Filters
                .list-group
                  .row
                    .col-sm-8
                      = link_to 'My boards', filter: 'my'
                    .col-sm-2
                      %span.bullet.bullet-sm.bullet-warning
                  .row
                    .col-sm-8
                      = link_to 'Private boards', filter: 'private'
                    .col-sm-2
                      %span.bullet.bullet-sm.bullet-success
                  .row
                    .col-sm-8
                      = link_to 'Public boards', filter: 'public'
                    .col-sm-2
                      %span.bullet.bullet-sm.bullet-primary
              /sidebar list end
      /righht part
      .content-right
        .content-overlay
        .content-wrapper
          .content-header.row
          .content-body
            .app-content-overlay
            .todo-app-area
              .todo-app-list-wrapper
                .todo-app-list
                  .todo-fixed-search.d-flex.justify-content-between.align-items-center
                    .sidebar-toggle.d-block.d-lg-none
                      %i.bx.bx-menu
                    /Search bar
                    %fieldset.form-group.position-relative.has-icon-left.m-0.flex-grow-1
                      = form_with(url: boards_path, method: "get", local: true) do
                        = text_field_tag :search, "", class: "form-control todo-search", id: "todo-search"
                        = hidden_field_tag(:filter, params[:filter])
                        = hidden_field_tag(:sorting, params[:sorting])
                      .form-control-position
                        %i.bx.bx-search
                    /Sort
                    .todo-sort.dropdown.mr-1
                      %button#sortDropdown.btn.dropdown-toggle.sorting{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                        %i.bx.bx-filter
                        %span Sort
                      .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "sortDropdown"}
                        .dropdown-item.ascending
                          = link_to 'Ascending', sort: 'asc'
                        .dropdown-item.descending
                          = link_to 'Descending', sort: 'desc'
                  .todo-task-list.list-group.ps.ps--active-y
                    %br
                    = will_paginate(@boards)
                    %ul#todo-task-list-drag.todo-task-list-wrapper.list-unstyled
                      = render 'board', boards: @boards, class: "todo-item"
                      
