= javascript_pack_tag "columns/update_column.js"
- if can? :manage, @column
  = javascript_pack_tag "cards/move_card.js"
  = javascript_pack_tag "cards/show_card.js"
= javascript_pack_tag 'cards/members'
= javascript_pack_tag 'memberships/autocomplete'
= javascript_pack_tag 'memberships/rights'
= stylesheet_link_tag 'memberships'
= stylesheet_link_tag 'columns'
= stylesheet_link_tag 'actiontext'
= javascript_pack_tag "tags/remove_tag.js"
= javascript_pack_tag "stop_propagation_to_buttons.js"
.container
  .row
    .col-md-12
      .card{"data-board-id" => "#{(@board.id)}"}
        %section#kanban-wrapper.pt-2.pb-2
          .container
            .row
              .col-md-4
                .btn-group.manage-board{:role => "group"}
                  = link_to 'Back', boards_path, class: "btn btn-outline-primary mb-1 back-board-btn"
                  - if can? :manage, @board
                    = link_to 'Edit', edit_board_path(@board), class: "btn btn-outline-primary mb-1 edit-board-btn"
                    = link_to 'Destroy', @board, method: :delete, class: "btn btn-outline-primary mb-1 destroy-board-btn", remote: true, data: { confirm: "You sure?" }
              - if can? :manage, @board
                .col-md-6#addMember
                  .input-group-prepend
                    %span#basic-addon1.input-group-text Add member
                    %input.form-control{"data-search": "template-search", "aria-label" => "Username", :placeholder => "Username", :type => "text", id: "autoComplete", name: "find-user"}/
                    %input{type: "hidden", value: board_memberships_path(@board), id: "addMembershipURL"}
                  %ul.list-group.search-list.show#show-users
              .col-md-2
                = link_to '', export_board_path(@board), class: 'bx bx-download btn btn-icon btn-dark glow mr-1 mb-1 export-btn'
                = link_to '', export_board_path(@board), class: 'bx bx-mail-send btn btn-icon btn-dark glow mr-1 mb-1 export-and-email-btn'
          .col-md
            .board-title-desc.mb-2{:style => "cursor: default"}
              %h2
                = @board.title
              .divider.col-5
                .divider-text Descripion
              %p.card-text
                = @board.description
            .kanban-overlay
            %section#kanban-wrapper
            - if can? :manage, @column
              = link_to board_columns_path(@board), |
                remote: true,                          |
                method: :post,                          |
                turbolinks: false,                     |
                id: "add-kanban",                      |
                class: "btn btn-primary mb-1" do
                %i.bx.bx-add-to-queue.mr-50>
                Add New Column
              .kanban-container#kanban-container
                = render  @columns
          = render "memberships/index"
