= javascript_pack_tag "columns/update_column.js"
= javascript_pack_tag "cards/show_card.js"
= javascript_pack_tag "cards/move_card.js"
= javascript_pack_tag 'cards/members'
= javascript_pack_tag 'memberships/autocomplete'
= javascript_pack_tag 'memberships/rights'
= stylesheet_link_tag 'memberships'
= stylesheet_link_tag 'columns'
= javascript_pack_tag "tags/remove_tag.js"
.container
  .row
    .col-md-12
      .card{"data-board-id" => "#{(@board.id)}"}
        %section#kanban-wrapper.pt-2.pb-2
          .container
            .row
              .col-md-4
                .btn-group{:role => "group"}
                  = link_to 'Back', boards_path, class: "btn btn-outline-primary mb-1"
                  = link_to 'Edit', edit_board_path(@board), class: "btn btn-outline-primary mb-1"
                  = link_to 'Destroy', @board, method: :delete, class: "btn btn-outline-primary mb-1", data: { confirm: "You sure?" }
              - if current_user.administrated_boards.exists?(@board.id)
                .col-md-6#addMember
                  .input-group-prepend
                    %span#basic-addon1.input-group-text Add member
                    %input.form-control{"data-search": "template-search", "aria-label" => "Username", :placeholder => "Username", :type => "text", id: "autoComplete", name: "find-user"}/
                    %input{type: "hidden", value: board_memberships_path(@board), id: "addMembershipURL"}
                  %ul.list-group.search-list.show#show-users
              .col-md-2
                = link_to '', export_board_path, class: 'bx bx-download btn btn-icon btn-dark glow mr-1 mb-1 export-btn'
                = link_to '', export_board_path, class: 'bx bx-mail-send btn btn-icon btn-dark glow mr-1 mb-1 export-and-email-btn'
          .col-md
            %h2
              = @board.title
            .divider.col-5
              .divider-text Descripion
            %p.card-text
              = @board.description
            .kanban-overlay
            %section#kanban-wrapper
              = link_to board_columns_path(@board), |
                remote: true,                          |
                method: :post,                          |
                turbolinks: false,                     |
                id: "add-kanban",                      |
                class: "btn btn-primary mb-1" do
                %i.bx.bx-add-to-queue.mr-50>
                Add New Column
              .kanban-container#kanban-container
                = render  @columns
          #user-section.pt-2
            %h3.pl-2 Members
            %input{type: "hidden", value: User.find(@board.user_id).email, id: "creator"}
            %ul.pt-1
              - @board.memberships.each do |member|
                %div.mb-2
                  .checkbox.checkbox-danger.checkbox-glow
                    - if member.user.administrated_boards.exists?(@board.id)
                      %i.bx.bx-star.bxs-star.warning
                      %span= member.user.email
                      = link_to 'Remove Admin', admin_board_membership_path(board_id: @board.id, user_id: member.user.id),
                                            class: "btn-sm btn-dark shadow mr-1 mb-1 ml-1", id: "#{member.user.email}",
                                            remote: true,
                                            method: :put,
                                            :onclick => 'changeRights(event)'
                    - else
                      %i.bx.bx-star.bxs-star
                      %span= member.user.email
                      = link_to 'Add Admin', admin_board_membership_path(board_id: @board.id, user_id: member.user.id),
                                              class: "btn-sm btn-dark shadow mr-1 mb-1 ml-1", id: "#{member.user.email}",
                                      remote: true,
                                      method: :put,
                                      :onclick => 'changeRights(event)'
