= javascript_pack_tag 'auto', 'data-turbolinks-track': 'reload'

.container
    .row.justify-content-md-center
        .col-md-6
            .input-group.input-group-sm
                %input.form-control{"data-search" => "template-search", :tabindex => "0", :type => "text", id: "autoComplete"}/
                %input{type: "hidden", value: memberships_create_path(@board), id: "addMembershipURL"}
            %ul.list-group.search-list.show#show-users

%h1 Board
%p= @board.title
%p= @board.description
%p= @board.public

- @board.users.each do |user|
    %p= user.email
    %p= user.administrated_boards.exists?
    = link_to 'Make Admin', add_admin_rights_path(id: @board.id, user_id: user.id), class: 'btn btn-primary', method: :put

:javascript
    console.log('Hello!!!!');


<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script> 