.row.justify-content-md-center.mt-4
  .col-lg-8
    .card
      .card-content
        .card-body
          .btn-group{:role => "group"}
            = link_to 'Back', boards_path, class: "btn btn-outline-primary mb-1"
            = link_to 'Board owner', @board.user, class: "btn btn-outline-primary mb-1"
            = link_to 'Edit', edit_board_path(@board), class: "btn btn-outline-primary mb-1"
            = link_to 'Destroy', @board, method: :delete, class: "btn btn-outline-primary mb-1", data: { confirm: "You sure?" }
          %h2
            = @board.title
          .divider
            .divider-text Descripion
          %p.card-text
            = @board.description