= javascript_pack_tag 'auto', 'data-turbolinks-track': 'reload'
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
-# = form_tag users_index_url, method: :get, class: "navbar-form navbar-right", role: "search" do
-#     = text_field_tag :search, params[:search], id: 'autoComplete', class: "form-control"
-#     = submit_tag "Search", name: nil, class: "btn btn-default"

-# %input{id: 'search_users', users_index_path ,method: :post, data_behaivor: 'autocomplete', placeholder: 'Search'}
%input{id: "autoComplete"}
-# %button.btn.btn-primary.primary-button{ type: 'submit' } Submit

-# memberships
-# = debug
-# = link_to 'Add', memberships_create_path(@board, user_id: 4), method: :post

.selection



= form_tag memberships_create_path(@board), :method => :post do
    = text_field_tag "selection"
    = submit_tag "Add"

%h1 Board
%p= @board.title
%p= @board.description
%p= @board.public

- @board.users.each do |user|
    %p Email:
    =user.email

<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>