%h2= @board.title

%h3	Create by:
= link_to @board.user.email, user_path(@board.user_id)

%h3 Description:
%p= @board.description
= link_to 'Edit', edit_board_path(@board)
= link_to 'Destroy', @board, method: :delete,
                                  data: { confirm: "You sure?" }

= link_to 'Back', boards_path
= form_tag users_index_url, method: :get, class: "navbar-form navbar-right", role: "search" do
    = text_field_tag :search, params[:search], class: "form-control"
    = submit_tag "Search", name: nil, class: "btn btn-default"
= javascript_pack_tag 'auto', 'data-turbolinks-track': 'reload'

.bookmark-input.search-input
    .bookmark-input-icon
        %i.bx.bx-search.primary
    %input.form-control.input{"data-search" => "template-search", :tabindex => "0", :type => "text", id: "autoComplete"}/
    %input{:type=>"hidden", :value=>memberships_create_path(@board), :id=> "addMembershipURL"}
    %ul.search-list.show#show-users

    -# Search bar
    %fieldset.form-group.position-relative.has-icon-left.m-0.flex-grow-1
        = form_with(url: boards_path, method: "get", local: true) do
            = text_field_tag :search, "", class: "form-control todo-search", id: "todo-search"
        = hidden_field_tag(:filter, params[:filter])
        = hidden_field_tag(:sorting, params[:sorting])
    .form-control-position
    %i.bx.bx-search
    
%h1 Board
%p= @board.title
%p= @board.description
%p= @board.public

#user-section
    - @board.users.each do |user|
        %p Email:
        =user.email

<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
