.card-wrapper
  .kanban-item{"data-border" => "#{event_color(card)}", "data-card-id" => "#{card.id}", |
              "data-position" => "#{card.position}"}
    .font-medium-1.text-bold-600
      = card.title
      .kanban-footer.d-flex.justify-content-between.mt-1
        .kanban-footer-left.d-flex
          .font-small-3
            - unless card.body.blank?
              = card.body
      %p{:class => "tag-items-#{card.id}"}
        - if card.tags.present?
          %b Tags:
          %br
          - card.tags.each do |tag|
            %span.tag-item{"data-tag-name" => "#{tag.name}",
              "data-tag-id" => "#{tag.id}",
              :class => "mt-1 btn btn-sm round btn-primary align-middle tag-item tag-#{tag.id}",
              :style => "font-weight:bold;font-size:14px;height:35px;padding-top:7px"}
              = tag.name
              - if can? :manage, card
                = link_to board_column_card_tag_path(card.column.board,card.column,card,tag),
                                              class: "btn.btn-icon.p-0.rm-tag-btn",
                                              style: "color:#f5f5f5",
                                              remote: true,
                                              method: :delete,
                                              :onclick => 'sendTagDeleteRequest(event)' do
                  %i.bx.bx-x-circle
      .kanban-footer-right.d-flex.justify-content-between.mt-1{id: "card-#{card.id}"}
        .likable-link-wrapper
          = render 'application/likable_link', likable: card,
                      likable_path: board_column_card_cards_likes_path(card.column.board, card.column, card)
        .kanban-users
          - if card.assignee
            -if card.assignee.avatar.attached?
              = image_tag card.assignee.avatar, class: "rounded",      |
              height: "30", width: "30" |
            -else
              = image_tag '/images/placeholder.jpg', class: "rounded",      |
              height: "30", width: "30" |
          - elsif can? :manage, card
            = link_to '', class: "btn btn-icon rounded-circle btn-info members-request", remote: true do
              %i.bx.bx-plus
      .kanban-comment.d-flex.justify-content-between.mr-50.mt-1{class: "#{event_color(card)}"}
        - if card.start_date || card.duration > 0
          = card_date(card)
        = card_comment(card)
