%tr.kanban-item{"data-board-id" => "#{card.column.board_id}", |
                 "data-card-id" => "#{card.id}",              |
                 "data-column-id" => "#{card.column_id}",     |
                 :role => "row",                              |
                 "style" => "#{style_for_deleted(card)}"}     |
  %td.card-title
    = short_text(card.title)
  %td.card-body
    = short_text(card.body)
  %td
    %small.text-muted
      = time_ago_in_words(card.created_at)
  %td
    %small.text-muted
      = time_ago_in_words(card.updated_at)
  %td
    %span.invoice-customer
      %small.text-muted
        = image_tag get_avatar(card.user), class: "avatar",  width: "40"
        %br
        = get_full_user_name(card.user)
  %td
    %span.invoice-customer
      %small.text-muted
    - if card.assignee_id?
      = image_tag get_avatar(card.assignee), class: "avatar",  width: "40"
      %br
      %small.text-muted
        = get_full_user_name(card.assignee)
  %td
    %span
      - card.tags.each do |tag|
        %span.bullet.bullet-primary.bullet-sm
        %small.text-muted
        = short_text(tag.name)
        %br  
