%tr.kanban-item{"data-board-id" => "#{card.column.board_id}", "data-card-id" => "#{card.id}", "data-column-id" => "#{card.column_id}", :role => "row"}
  %td.card-title
    = short_text(card.title)
  %td.card-body
    = short_text(card.body)
  %td
    %small.text-muted
      = time_ago_in_words(card.created_at)
  %td
    %small.text-muted
      = time_ago_in_words(card.updated_at)
  %td
    %span.invoice-customer
      = get_full_user_name(card.user)
  %td
    = image_tag get_avatar(card.user), class: "avatar ml-1",  width: "40"
