= javascript_pack_tag 'cards/tabs'

.kanban-sidebar
  .card.shadow-none.quill-wrapper
    .card-header.d-flex.justify-content-between.align-items-center.border-bottom.px-2.py-1
      %h3.card-title Card
      %button.close.close-sidebar.close-icon{:type => "button"}
        %i.bx.bx-x
    .edit-kanban-item
      .card-body
        - if @card.assignee
          .kanban-users.d-flex.assignee-in-sidebar
            .text-bold-600.d-flex.align-items-center.mr-1.mb-2
              Assignee:
            -if @card.assignee.avatar.attached?
              = image_tag @card.assignee.avatar, class: "rounded d-flex align-items-center",      |
              height: "30", width: "30"
            -else
              = image_tag '/images/placeholder.jpg', class: "rounded",      |
              height: "30", width: "30"
            = link_to remove_assignee_board_column_card_path(@column.board, @column, @card),  |
              remote: true,                                                                 |
              method: :delete,                                                              |
              class: "close delete-assignee close-icon" do |
              %i.bx.bx-x
            = @card.assignee.full_name

        = form_with(model: [@column.board, @column, @card], method: :patch, class: "form-group edit-form mb-0 pb-0") do |f|
          .input-group.position-relative.mb-1
            = f.label :start_date, class: "input-group-text"
            = f.date_field :start_date, class: "form-control pr-2"
          .input-group.position-relative.mb-1
            = f.label :duration, class: "input-group-text"
            = f.text_field :duration, class: "form-control pr-1", placeholder: "1d 2h 30m", style: "text-align: center;", value:"#{card_duration(@card)}"
          .form-group
            = f.label :title, class: "text-bold-600"
            = f.text_field :title, class: "form-control edit-kanban-item-title"
          .form-group
            = f.label :body, class: "text-bold-600"
            = f.rich_text_area :body, class: "form-control edit-kanban-item-title"
          .card-footer.d-flex.justify-content-end
            = button_tag(class: "btn btn-primary glow update-kanban-item d-flex align-items-center mr-1 save-card-button") do
              %i.bx.bx-send.mr-50>
              Save
            = link_to board_column_card_path(@column.board, @column, @card),                |
              remote: true,                                                                 |
              method: :delete,                                                              |
              class: "btn btn-light-danger delete-kanban-item d-flex align-items-center" do |
              %i.bx.bx-trash.mr-50
              Delete
        .tags-container
          - if @card.tags.present?
            - @card.tags.each do |tag|
              %span.tag-item.mt-0{"data-tag-name" => "#{tag.name}",
                "data-tag-id" => "#{tag.id}",
                :class => "mt-1 btn btn-sm round btn-primary align-middle tag-item tag-#{tag.id}",
                :style => "font-weight:bold;height:40px"}
                = tag.name
                = link_to board_column_card_tag_path(@card.column.board,@card.column,@card,tag),
                                              class: "btn.btn-icon.p-0.rm-tag-btn",
                                              style: "color:#f5f5f5",
                                              remote: true,
                                              method: :delete,
                                              :onclick => 'sendTagDeleteRequest(event)' do
                  %i.bx.bx-x-circle
        %fieldset.form-group.mt-1
          %label.mb-0.pb-0{:for => "tags", :class => "text-bold-600"} New Tag
          %br
            %small.mt-0.pt-0 (write tag name and press enter)
            %input#tagName.form-control.mt-1{:type => "text"}
            %input{type: "hidden", id: "lastAddedTag"}

        = render 'tabs'
= javascript_pack_tag "cards/scrollbar"
= javascript_pack_tag "tags/create_tag"
