.kanban-sidebar
  .card.shadow-none.quill-wrapper
    .card-header.d-flex.justify-content-between.align-items-center.border-bottom.px-2.py-1
      %h3.card-title Card
      %button.close.close-sidebar.close-icon{:type => "button"}
        %i.bx.bx-x
    .edit-kanban-item
      .card-content.ps.ps--active-y
        .card-body
          = form_with(model: [@column.board, @column, @card], method: :patch, class: "form-group") do |f|
            .form-group
              = f.label :title, class: "text-bold-600"
              = f.text_field :title, class: "form-control edit-kanban-item-title"
            .form-group
              = f.label :body, class: "text-bold-600"
              = f.text_area :body, class: "form-control edit-kanban-item-title"
            .card-footer.d-flex.justify-content-end
              = button_tag(class: "btn btn-primary glow update-kanban-item d-flex align-items-center mr-1") do
                %i.bx.bx-send.mr-50>
                Save
              = link_to board_column_card_path(@column.board, @column, @card),                |
                remote: true,                                                                 |
                method: :delete,                                                              |
                class: "btn btn-light-danger delete-kanban-item d-flex align-items-center" do |
                %i.bx.bx-trash.mr-50
                Delete
