<div class="kanban-sidebar">
  <div class="card shadow-none quill-wrapper">
    <div class="card-header d-flex justify-content-between align-items-center border-bottom px-2 py-1">
      <h3 class="card-title">Card</h3>
      <button type="button" class="close close-sidebar close-icon">
        <i class="bx bx-x"></i>
      </button>
    </div>
    <div class="edit-kanban-item">
      <div class="card-content ps ps--active-y">
        <div class="card-body">
        
          <%= form_with(model: [@column.board, @column, @card], method: :patch, class: "form-group") do |f| %>
              <%# = render "shared/errors"  %>
            <div class="form-group">
              <%= f.label :title, class: "text-bold-600" %>
              <%= f.text_field :title, class: "form-control edit-kanban-item-title" %>
            </div>
            <div class="form-group">
              <%= f.label :body, class: "text-bold-600" %>
              <%= f.text_area :body, class: "form-control edit-kanban-item-title" %>
            </div>

            <div class="card-footer d-flex justify-content-end">
              <%= button_tag(class: "btn btn-primary glow update-kanban-item d-flex align-items-center mr-1") do %>
                <i class="bx bx-send mr-50"></i>Save 
              <% end %> 
              <%= link_to board_column_card_path(@column.board, @column, @card),
                remote: true,
                method: :delete,
                class: "btn btn-light-danger delete-kanban-item d-flex align-items-center" do  %>
                <i class="bx bx-trash mr-50"></i>
                Delete
              <% end %>
            </div>

          <% end %> 
      </div>
    </div>
  </div>
</div>