if ($("#kanban-wrapper").length){
$(".delete-kanban-item").on("ajax:success", function() {
$(".kanban-item[data-card-id=\'" + "#{@card.id}" + "\']").parent().remove();
$(".kanban-board[data-column-id=\'" + "#{@card.column_id}" + "\']").find('.kanban-board-header span.badge').text("#{@column.cards.kept.count -1}");
$(this).closest(".kanban-sidebar").hide();
});
}
else {
let row = $("#cards_table #cards").find(".kanban-item[data-card-id=#{@card.id}]").slideUp( 1000 );
$(this).closest(".kanban-sidebar").hide();
$("body").find(".kanban-sidebar").removeClass('show');
}
= render partial: 'shared/toaster'
