= stylesheet_link_tag 'columns'
= stylesheet_link_tag 'actiontext'
%section.invoice-list-wrapper
  .action-dropdown-btn.d-none
  .table-responsive
    #DataTables_Table_0_wrapper.dataTables_wrapper.dt-bootstrap4.no-footer.min-vh-100
      .top.d-flex.flex-wrap
        .action-filters.flex-grow-1
          #DataTables_Table_0_filter.dataTables_filter
            / Search bar
            = form_with(url: cards_path, method: "get", local: true) do
              %label
                = text_field_tag :search, nil, class: "form-control form-control-sm", type: "search", placeholder: "Search Cards"
              = hidden_field_tag(:available_for, current_user)
              = hidden_field_tag(:filter, params[:filter])
              .form-control-position
                %i.bx.bx-search
        /Filter by type
        .todo-sort.dropdown.m-2
          %button#sortDropdown.btn.dropdown-toggle.sorting{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %i.bx.bx-filter
            %span Filter by type
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "sortDropdown"}
            = link_to cards_path(filter: 'all'), |
              class: "dropdown-item" do  |
              %i.bx.bx-spreadsheet.mr-50
              All
            = link_to cards_path(filter: 'saved'), |
              class: "dropdown-item" do    |
              %i.bx.bx-save.mr-50
              Saved Cards
            = link_to cards_path(filter: 'created'), |
              class: "dropdown-item" do      |
              %i.bx.bx-user.mr-50
              Created Cards
            = link_to cards_path(filter: 'assigned'), |
              class: "dropdown-item" do      |
              %i.bx.bx-note.mr-50
              Assigned Cards
            = link_to cards_path(filter: 'deleted'), |
              class: "dropdown-item" do      |
              %i.bx.bx-trash.mr-50
              Deleted Cards
        /Filter by board
        .todo-sort.dropdown.m-2
          %button#sortDropdown.btn.dropdown-toggle.sorting{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %i.bx.bx-filter
            %span Filter by board
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "sortDropdown"}
            - current_user.boards.each do |board|
              = link_to cards_path(board_title: board.title), |
                class: "dropdown-item" do       |
                #{board.title}
      .clear
      %table#cards_table.table.invoice-data-table.dt-responsive.nowrap.dataTable.no-footer.dtr-column.collapsed{:role => "grid"}
        %thead
          %tr{:role => "row"}
            %th.sorting{"data-name" => "title"}
              = sortable "title"
            %th.sorting{"data-name" => "body"}
              = sortable "body"
            %th.sorting{:colspan => "1","data-name" => "created_at", :rowspan => "1"}
              = sortable "created_at"
            %th.sorting_desc{"data-name" => "updated_at"}
              = sortable "updated_at"
            %th.sorting{:colspan => "1","data-name" => "user_id", :rowspan => "1"}
              = sortable "user_id"
            %th.sorting{:colspan => "1","data-name" => "assignee_id"}
              = sortable "assignee_id"
            %th.sorting{:colspan => "1"} Tags
        %tbody#cards
          - @cards.each do |card|
            = render partial: "card_for_index", locals: {card: card}
      .bottom
        .dataTables_paginate.paging_simple_numbers
          %ul.pagination
            %li.paginate_button.page-item.active
              - if @current_page < @total_pages
                = link_to "Load more", cards_path( page: @current_page + 1), class: "btn btn-primary page-link", id: "more_cards", remote: true
= javascript_pack_tag "cards/show_card.js"
