= render partial: 'click', formats: [:js]
= render partial: 'shared/toaster'

$(".delete-assignee").on("ajax:success", function() {
cardClass = `.kanban-item[data-card-id=#{@card.id}]`;

$(cardClass).parent().html("#{j render @card}");

$(".assignee-in-sidebar").remove();

$(cardClass).click(function() {
$(".edit-kanban-card").html("#{j render 'edit_form'}");
$(".kanban-sidebar").addClass('show');

$(".close.close-sidebar").click(function() {
$(".kanban-sidebar").removeClass('show');
});
});

$(cardClass).parent().find('.members-request').on('click', onClick);
});
