- unless @card.errors.any?
  if ($("#kanban-wrapper").length){
  cardClass = `.kanban-item[data-card-id=#{@card.id}]`;

  $(cardClass).parent().html("#{j render @card}");

  $(cardClass).click(function() {
  $.ajax({
  url: `/boards/#{@card.column.board_id}/columns/#{@card.column_id}/cards/#{@card.id}/edit`,
  method: 'GET',
  headers: {
  'X-CSRF-Token': document.getElementsByName('csrf-token')[0].content
  },
  });
  });
  $(cardClass).find('.members-request').on('click', assignClickHandler);
  $("body").find(".kanban-sidebar").removeClass('show');
  } else {
  var row = $("#cards_table #cards").find(".kanban-item[data-card-id=#{@card.id}]")
  row.find(".card-title").text("#{short_text(@card.title)}")
  row.find(".card-body").text("#{short_text(@card.body.to_plain_text)}")
  $("body").find(".kanban-sidebar").removeClass('show');
  }

= render partial: 'shared/toaster'
