<!DOCTYPE html>
<html>
  <head>
    <title>Projector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="vertical-layout content-left-sidebar chat-application 
    navbar-sticky footer-static pace-done menu-hide vertical-overlay-menu">
      <%= yield %>
      <%= javascript_pack_tag "error_fields.js" %>   
  </body>


